/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #acad07;
  color: #fff;
  padding: 1rem 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header .social-media-links {
  text-align: center;
  margin-top: 1rem;
}

header .social-media-links a {
  margin: 0 0.5rem;
}

section {
  padding: 2rem;
  text-align: center;
}

section h1 {
  margin-bottom: 1rem;
}

#about .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#skills ul {
  list-style: none;
  padding: 0;
}

#skills ul li {
  margin-bottom: 0.5rem;
}

.project {
  margin-bottom: 2rem;
}

.project h2 {
  margin-bottom: 0.5rem;
}

.project p {
  margin-bottom: 1rem;
}

.project a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 0.5rem 0;
  }
}
